body {
  background-image: url("./images/bg-horizontal.jpg");
  background-position: center;
  background-size: cover;
}

.App {
  text-align: center;
}

.Header, .Description, .Output-section, .Request-button  {
  background: rgba(224, 224, 244, 0.9);
  padding: 1rem;
}

.Description, .Output-section {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem 3rem;
  border-radius: 1rem 0;
}

.Request-button {
  font-weight: bold;
}

.Output-section {
  max-width: 15rem;
}

.Output-section ul {
  list-style-type: none;
}
