body {
  background-image: url("./images/bg-horizontal.jpg");
  background-position: center;
  background-size: cover;
}

.App {
  text-align: center;
}

.Header, .Description, .Output-section, .Request-button  {
  background: rgba(224, 224, 244, 0.9);
  padding: 1rem;
}

.Description, .Output-section {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem 3rem;
  border-radius: 1rem 0;
}

.Request-button {
  font-weight: bold;
}

.Output-section {
  max-width: 15rem;
}

.Output-section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Output-section ul li {
  display: flex;
  justify-content: center;
}

.Output-section ul li span {
  flex: 1 1;
}

.Output-section ul li span:first-child {
  text-align: right;
  padding-right: 4px;
}

.Output-section ul li span:last-child {
  text-align: left;
}
